*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #c8eb76;
  --secondary: #6aa2cf;
  --text: #031461;
  --bg: #f1b1b1;
}

/* .container{
    max-width: 1100px;
    width: 80%;
    margin: 0 auto;
} */

body {
}

h1 {
  display: flex;
  justify-content: center;
  margin: 5%;
  color: var(--bg);
  font-size: 70px;
}

p {
  font-size: 50px;
  margin: 0% 2%;
}

.moon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3%;
  gap: 40px;
}

.moon .star1 {
  border: 1px solid;
  padding: 4%;
  border-radius: 20px;
  background-color: var(--primary);
  color: var(--text);
}

.moon .star2 {
  border: 1px solid;
  padding: 4%;
  border-radius: 20px;
  background-color: var(--secondary);
  color: var(--primary);
}

.moon .star3 {
  border: 1px solid;
  padding: 4%;
  border-radius: 20px;
  background-color: var(--text);
  color: var(--bg);
}

@media (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  p {
    font-size: 14px;
    margin: 0% 4%;
  }
  h1 {
    font-size: 30px;
    padding-top: 5%;
  } 

  .moon {
    padding-top: 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3%;
    gap: 30px;
  }

  .moon .star1 {
    padding: 12%;
  }
  .moon .star2 {
    padding: 12%;
  }

  .moon .star3 {
    padding: 12%;
  }
}


.moon2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3%;
  gap: 40px;
}

.moon2 .star1 {
  border: 1px solid;
  padding: 4%;
  border-radius: 20px;
  background-color: var(--primary);
  color: var(--text);
}

.moon2 .star2 {
  border: 1px solid;
  padding: 4%;
  border-radius: 20px;
  background-color: var(--secondary);
  color: var(--primary);
}

.moon2 .star3 {
  border: 1px solid;
  padding: 4%;
  border-radius: 20px;
  background-color: var(--text);
  color: var(--bg);
}

@media (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  p {
    font-size: 14px;
    margin: 0% 4%;
  }
  h1 {
    font-size: 30px;
    padding-top: 5%;
  } 

  .moon2{
    display: none;
  }



}
